.Icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.Icon--size-xs {
  width: var(--cube-icon-xs);
  height: var(--cube-icon-xs);
}

.Icon--size-sm {
  width: var(--cube-icon-sm);
  height: var(--cube-icon-sm);
}

.Icon--size-md {
  width: var(--cube-icon-md);
  height: var(--cube-icon-md);
}

.Icon--size-lg {
  width: var(--cube-icon-lg);
  height: var(--cube-icon-lg);
}

.Icon > :global(svg) {
  width: 100%;
  height: 100%;
  display: block;
}
