.Root {
  display: inline-flex;
  vertical-align: middle;
}

.Panel {
  z-index: var(--cube-z-index-tooltip, 800);
  box-sizing: border-box;
  margin: 0;
  text-align: left;
  font-family: var(--cube-typography-fontFamily-base);
  font-size: var(--cube-typography-text-caption-fontSize);
  font-weight: var(--cube-typography-text-caption-fontWeight);
  line-height: var(--cube-typography-text-caption-lineHeight);
  color: var(--cube-tooltip-fg);
  background-color: var(--cube-tooltip-bg);
  border: solid var(--cube-sizes-borderWidth-thin) var(--cube-tooltip-border);
  border-radius: var(--cube-tooltip-borderRadius);
  padding: var(--cube-tooltip-paddingBlock) var(--cube-tooltip-paddingInline);
  box-shadow: var(--cube-tooltip-shadow);
  pointer-events: none;
}

.Panel--fixed {
  position: fixed;
}

.Panel--compact {
  max-width: var(--cube-tooltip-maxWidthSingleLine);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Panel--expanded {
  max-width: var(--cube-tooltip-maxWidth);
  white-space: normal;
}
